:root{
  --PrimaryColor : hsl(199,100%,33%);
  --SecondaryColor:hsl(187,85%,43%);
  --gradientColor:linear-gradient(to right, hsl(187,85%,43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33% ,16%);
  --textColor: hsl(240, 3%, 11%);
  --whiteColorDeam: hsl(0,0%,93%);
  --greyText:rgb(28, 28, 28);
  --inputColor:rgb(14, 5, 1);
  --bodyColor:rbg(240,240,246);
  --cardBG:rbg(225,225,235);

}

.home{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


    .overlay{
        position: absolute;
        height: 100%;
        width: 100;
        background: rgb(176, 183, 186);
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    video{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        bottom: 0%;
        object-fit: cover;

    }

    .homeContent{
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--inputColor);
        z-index: 100;

        .textdiv{
            padding: 2rem 0;

            .smallText{
                font-size: 20px;
                text-transform: uppercase;
                
            }

            .homeTitle{
                position: relative;
                font-size: 1.8rem;

            }
        }

        

        .cardDiv{
            position:inherit;
            padding: 2rem 1rem;
            background: rgba(155, 182, 180, 0.5);
            border-radius: 5px;
            gap: 1rem;

            .label{
                display: block;
                color: rgb(85, 198, 218);
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .label_total{
                justify-content: space-between;
                align-items: center;

                .total{
                    color: rgba(1, 12, 9,);
                    font-size: 18px;
                    padding-bottom: 10px;

                }
            }

       
            .input{
                height: 30px;
                padding: 0 1rem;
                background: rgba(8, 42, 32, 0.3);
                border-radius: 1rem;

                input{
                    background:none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 15px;
                    color: rgb(243, 250, 250);
                    font-weight: 400;
                    &::placeholder{
                        font-size: 13px;
                        color: rgb(184, 248, 248);
                        
                    }

                }

                .icon{
                    font-size:18px;
                    color:rgb(11, 11, 11)
                    !important;
                    margin-left: 0.6px;

                }

                .input[type=range]{
                    background: red;
                }
            }

            
            .searchOptions{
                position: absolute;
                background: rgb(168, 248, 242);
                width:max-content;
                bottom: 0.8rem;
                column-gap: 0.8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content:last baseline;

                &:hover{
                    background:rgba(24, 50, 41, 0.5) ;
                }

                .icon{
                    font-size: 18px;
                    color: rgb(4, 9, 9);
                }

                span{
                    font-size: 16px;
                    color: rgb(20, 21, 21);
                    

                }


            }

        }

       .homeFooterIcons{
        width:100%;
        justify-content:space-between;

        .icon{
            font-size: 30px;
            margin: 0 5px;
            color: rgb(234, 239, 251);
            font-weight: 600;
            &:hover{
                color: rgb(18, 17, 2);
            }
        }

       } 

    }
}

